@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root{
    --primary-color:#5E63F8;
    --primary-color-hover: #926FF8;
    --secondary-color: #fafcff;
    --text-dark: #390F7D;
    --text-light: #767276;
    --extra-light: #fff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    font-size: 1rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5rem;
    background-color: var(--primary-color);
    color: var(--extra-light);
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-hover);
}

.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

body {
    font-family: 'poppons',sans-serif;
}

nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: var(--max-width);
    padding: 1rem;
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.link a{
    font-size: 1rem;
    padding: 0 1rem;
    color: var(--text-dark);
    text-decoration: none;
    transition: 0.3s;
}

.link a:hover{
    color: var(--primary-color);
}

.header {
    background-color: var(--secondary-color);
}

.header-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.header-image {
    position: relative;
    background-color: var(--secondary-color);
}

.header-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    border: 0.5rem solid var(--secondary-color);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header-image img:nth-child(1) {
    max-width: 350px;
    transform: translate(-75%, -50%);
}

.header-image img:nth-child(2) {
    max-width: 250px;
    transform: translate(0%, -15%);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content > div {
    max-width: 400px;
    display: grid;
    gap: 1rem;
}

.header-content .sub-header {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.header-content h1{
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 800;
    color: var(--text-dark);
}

.header-content .action-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.story {
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.video-image{
    position: absolute;
}

.video-image img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.video-image span{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video-image span i{
    padding: .5rem;
    font-size: 1rem;
    color: red;
    background-color: var(--extra-light);
    border-radius: 100%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.story > span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    transform: translateX(75%);
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.section-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.section-subtitle {
    font-size: 1rem;
    color: var(--text-dark);
    max-width: calc(var(--max-width)/2);
}

.destination-nav {
    display: flex;
    gap: 1rem;
}

.destination-nav span{
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.destination-nav span:hover {
    color: var(--extra-light);
    background-color: var(--primary-color);
}

.destination-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.destination-card {
    cursor: pointer;
    position: relative;
}

.destination-card img {
width: 100%;
object-fit: contain;
}

.destination-card img{
    border-radius: 1rem;
}

.destination-details {
    position: absolute;
    width: calc(100% - 2rem);
    padding: 1rem;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--extra-light);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    z-index: 1;
    transition: 0.3s;
}

.destination-card:hover .destination-details {
    bottom: 1rem;
}

.destination-title{
    font-size: .9rem;
    margin-bottom: .5rem;
}

.destination-subtitle{
    font-size: 1rem;
    font-weight: 600;
}

.trip{
    background-color: var(--secondary-color);
}

.trip-container :is(.section-title, .section-subtitle, .view-all) {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.trip-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 4rem 0;
}

.trip-card {
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.trip-card img {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem 1rem 0 0;
} 

.trip-details {
    display: grid;
    padding: 1rem;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    background: var(--extra-light);
    cursor: pointer;
}

.rating {
    color: goldenrod;
}

.booking-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price span{
    font: 400;
    font-size: .9rem;
    color: var(--text-light);
}

.book-now {
    padding: .5rem 1.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5rem;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.book-now:hover {
    color: var(--extra-light);
    background-color: var(--primary-color);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.image-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.gallery-col {
    display: grid;
    place-content: center;
    gap: 1rem;
    overflow: hidden;
}

.gallery__col img {
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.gallery-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gallery-content > div{
    max-width: 400px;
}

.gallery-content .section-subtitle{
    margin-bottom: 2rem;
}

.subscribe{
    background-color: var(--secondary-color);
}

.subscribe-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.subscribe-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form form{
    width: 100%;
    max-width: 400px;
    display: flex;
    background-color: var(--extra-light);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}

.subscribe-form input {
    width: 100%s;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
}

.subscribe-form button {
    transform: translateX(75%);
}

.footer{
    background-color: var(--text-dark);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    color: var(--secondary-color);
}

.footer-col h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer-col h3 span{
    color: var(--primary-color);
}


.footer-col p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer-col p:hover{
    color: var(--primary-color);
}

.footer-col p span{
    font-weight: 600;
}

.footer-col h4{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer-bar{
    max-width: var(--max-width);
    margin: auto;
    padding: .5rem;
    text-align: center;
    font-size: .8rem;
    color: var(--secondary-color);
    border-top: 1px solid var(--text-light);
}

@media (width <1200px) {
    .header-image img:nth-child(1) {
        max-width: 300px;
    }
    .header-image img:nth-child(2) {
        max-width: 200px;
    }
}

@media (width <900px) {
    .nav-links {
        display: none;
    }
    
    .header-container {
        grid-template-columns: repeat(1, fr);
    }

    .header-image {
        min-height: 500px;
    }

    .destination-grid {
        gap: 1rem;
    }

    .trp-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width <600px) {
    .destination-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .trip-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .subscribe-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(2, 2fr);
    }
}

